{% extends 'base.html' %}

{% block content %}
<div id="group_accordion">
  {% for group in groups_list %}
    <div class="card">
      <div class="card-header d-flex"
        data-toggle="collapse"
        data-target="#collapse_{{ group.pk }}"
        id="group_{{ group.pk }}">
        Test Header
      </div>

      <div id="collapse_{{ group..pk }}" class="collapse{% if forloop.first %} show{% endif %}" aria-labelledby="group_{{ group.pk }}" data-parent="#group_accordion">
        <div class="card-body">
          Test Body
        </div>
        <div class="card-footer">
          Test Footer
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}