{% extends 'base.html' %}

{% block content %}
<div class="d-flex mt-2">
  <h2>Signal Setup</h2>
</div>
<div id="signal_link_device" class="card mt-3">
  <div id="status" class="card-header d-flex">
    <h4 class="m-1 me-auto">Status:</h4>
    {% if not is_signal_linked %}
    <h5 class="m-1 text-bg-danger ps-3 pe-3 rounded-2">Not linked yet</h5>
    {% elif is_signal_linked %}
    <h5 class="m-1 text-bg-success ps-3 pe-3 rounded-2 ">Already linked</h5>
    {% endif %}
  </div>
  <div id="qr-code" class="card-body">
    <img id="link-qrcode" src="data:image/png;base64,{{ qr_code_bytes }}" width="300" height="auto"></img>
    <p id="name_for_device">Name for this device: {{ device_name }}</p>
  </div>

  <div id="name_changing" class="card-footer d-flex">
    <input id="name_input_field" value="{{ device_name }}" class="flex-grow-1">
    <button id="name_button" type="button" class="btn btn-primary ms-3">Change Name</button>
  </div>
</div>

{% endblock content %}

{% block javascript %}
<script type="text/javascript">
  const textInput = document.getElementById("name_button");
  textInput.onclick = function () {
    const name = document.getElementById("name_input_field").value;
    var baseUrl = window.location.href.split("?")[0];
    var newUrl = baseUrl + "?device_name=" + name;
    window.location.href = newUrl;
  };
</script>
{% endblock javascript %}