{% extends 'base.html' %}

{% block content %}

<div id="groups_container">
{% for group in groups_json %}
    <div class="card">
        <div class="card-header">
            <h5>{{ group.name }}</h5>
        </div>
        <div class="card-body">
            <div id="group_{{ group.name }}_admins">
                <h6>Admins</h6>
                {% for admin in group.admins %}
                <div id="group_{{ group.name }}_admin_{{ admin }}">
                    {{ admin }}
                </div>
                {% endfor %}
            </div>
            <div id="group_{{ group.name }}_members">
                <h6>Member</h6>
                {% for member in group.members %}
                    <div id="group_{{ group.name }}_member_{{ member }}">
                        {{ member }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock content %}